<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Exigen BlockChain Claim Login</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bc-claim.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="../css/main.css" rel="stylesheet">

    <link href="../css/login.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form id="loginForm" class="form-signin" action="./main.html" >
      <img class="mb-4" src="../img/logo.png" alt="" width="60" height="60">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputLoginId" class="sr-only">User Login Id</label>
      <input type="input" id="inputLoginId" class="form-control" placeholder="Login Id"  value="test01" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" value="pass01" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" id="loginBtn" type="button">Sign in</button>
       <div class="error-messages">
        <label id="errorLabel" class="error"></label>
      </div>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>

<script type="text/javascript">  
var outboxToken="";

/**
* Get internal token for later invoke
*/
function getToken(){
	return     $.ajax({
        url: 'http://localhost:4000/services/users',
        dataType : "json",
        contentType: "application/json; charset=utf-8",
        // dataType: "jsonp",
        data: '{"username": "Songlin", "orgName":"Org1"}',
        type: 'POST',
        jsonpCallback: 'callback',
        
        success: function (data) {            
            console.log('Success: ')
            if(data){
                outboxToken=data.token;
            }
        },
        error: function (xhr, status, error) {
            console.log('Error: ' + error.message);
            $('#errorLabel').html('Error connecting to the server.');
        },
    });
} 
  
/**
* login verification function
*/
$( "#loginBtn" ).click(function( event ) {
	$.when(getToken()).done(function(){			
			
		if(outboxToken==""){
			event.preventDefault();
			console.log('Error get the token ');
			$('#errorLabel').html('Error connecting to the server.');
		}else{
			var args="[\""+$('#inputLoginId').val()+"\",\""+$('#inputPassword').val()+"\"]";
			args=encodeURIComponent(args);
			console.log(args);
				
			$.ajax({
				url: 'http://localhost:4000/services/channels/mychannel/chaincodes/usercc?peer=peer0.org1.exigen.com&fcn=login&args='+args,
				//dataType : "json",
				contentType: "application/json; charset=utf-8",
				// dataType: "jsonp",
				type: 'GET',
				jsonpCallback: 'callback', 
				headers: {
				  "authorization": "Bearer "+outboxToken
				},
				success: function (data) {            
					console.log('Success: ')
					if(data){
	                    if(data=="fail" || data.indexOf("Error")!=-1){
	                    	event.preventDefault();
	                    	console.log(data);
	                        $('#errorLabel').html('User name and password is invalid.');
	                    }else{//successfully
	                    	//TODO here we need store current login user token
	                    	setGToken(outboxToken);
	                    	
	                    	$( "#loginForm" ).submit();
	                    } 
					}
				},
				error: function (xhr, status, error) {
					event.preventDefault();
					console.log('Error: ' + error.message);
					$('#errorLabel').html('Error connecting the server'+error.message);
				},
			});    	
		}
	});

    

			
		
});

</script>

  </body>
</html>
