<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Exigen BlockChain Claim Main</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bc-claim.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <!-- Custom styles for this template -->
    <link href="../css/main.css" rel="stylesheet">
  </head>

  <body>
		<nav class="navbar navbar-custom">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand">EBlockChain</a>
			</div>
			<ul class="nav navbar-nav">
			  <li class="active"><a href="./main.html">Hospital</a></li>
			  <li><a href="./insurer.html">Insurer</a></li>
			  <li><a href="./social-insurance.html">Social Insurance</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			  <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
			  <li><a href="./login.html"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			</ul>
		  </div>
		</nav>  
  
		<div class="container">
		  <h2>Medical Record</h2>
		  <p>This table show the medical records which already populated into the fabric block chain</p>                                                                                      
		  <div class="table-responsive">          
		  <table class="table" id="mdTable">
			<thead>
			  <tr>
				<th>#</th>
				<th>Medical ID</th>
				<th>Hospital Name</th>
				<th>Medicines</th>
				<th>Owner</th>
				<th>Action</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>1</td>
				<td>Med0000001</td>
				<td>HuaShan First Class Hospital</td>
				<td>Fever</td>
				<td>New York</td>
				<td><a href="">Update</a></td>
			  </tr>
			</tbody>
		  </table>
		  </div>
		  
			<div class="button" align="center">
			    <form action="./create_md.html">
				 <button class="btn btn-primary " id="addBtn" type="submit">New to Blockchain</button>
				</form>
			</div>
		</div>
        
		<div id="footerContent"></div>

		
<script type="text/javascript">
$(document).ready(function() {
    $.ajax({
        url: 'http://localhost:4000/services/channels/mychannel/chaincodes/mycc?peer=peer0.org1.exigen.com&fcn=searchAll&args=%5B%22MR0%22%5D',
        dataType : "json",
        contentType: "application/json; charset=utf-8",
        // dataType: "jsonp",
        //data: '{"username": "Jim", "orgName":"Org1"}',
        type: 'GET',
        jsonpCallback: 'callback', 
        headers: {
          "authorization": "Bearer "+getGToken()
        },
        success: function (data) {            
            console.log('Success: ')
            if(data){
                var len = data.length;
                var txt = "";
                if(len > 0){
                    for(var i=0;i<len;i++){
                            txt += "<tr>";
                            txt += "<td>"+data[i].Key+"</td>";
                            txt += "<td>"+data[i].Record.medicalID+"</td>";
                            txt += "<td>"+data[i].Record.hospital+"</td>";
                            txt += "<td>"+data[i].Record.medicines+"</td>";
                            txt += "<td>"+data[i].Record.owner+"</td>";
                            txt += "<td><a href=#>Update</a></td>";
                            txt += "</tr>";
                    }
                    if(txt != ""){
                        $("#mdTable").append(txt);
                    }
                }
            }
        },
        error: function (xhr, status, error) {
            console.log('Error: ' + error.message);
            $('#lblResponse').html('Error connecting to the server.'+data.message);
        },
    });
});
</script>
  </body>
</html>
